.ant-modal-content {
  padding: 0px 0px 12px 0px !important;
  .ant-modal-footer {
    border-top: 1px solid #e6e6e6;
    padding-bottom: 12px;
  }
  .ant-modal-header {
    .ant-modal-title {
      @apply font-medium text-primary-500;
    }
    border-bottom: 1px solid #e6e6e6;
    padding: 16px 28px;
  }
  .ant-modal-body {
    padding-left: 26px;
  }
}

.ant-modal-body,
.ant-modal-header,
.app-modal-footer {
  @apply px-4;
  @apply md:px-6;
}
